<div ng-controller='gameController' ng-keydown = "key($event)" tabindex = '1'>

<script type="text/javascript">


	
});



</script>
<div>
	<div id = 'world'>



	</div>
	<div id = "howtoplay"> 
	<h1>How to play </h1>
	<p>If this is your first time playing, Please wait for all the sprites to load, The delay is due to pokemonapi</p>
	<p>To play click on one of your pokemon until it has a blue highlight. <br> It is ready to move when its action bar reaches <br>full and it will display "Pokemon Is ready" on the bottom of the UI.
	<p> To move pokemon simply press the WASD keys while it is highlighted<p>
	<p> The number of moves is shown on the UI. <br >when it runs out it cannot move anymore and its action bar will start counting again <p>
	<p> To attack click on a target on middle of UI when a highlighted pokemon is near an enemy pokemon. <br>Attacking will reset the action bar<p>
	<p> Victory is achieved when all Enemy pokemon is eliminated.</p>
	</div>

	<div id = 'ui'> </div>

</div>
